{% extends 'shop/foodstore/product/base.html' %}

{% load static %}


{% block content %}

<main class="main-content">

  <div class="section-padding-120 position-relative">
      <!-- <img src="{% static 'assets/images/banner/shap-11.png ' %}"  class="background-img background-img-np1 img-fluid"
          data-iq-gsap="onStart"
          data-iq-position-x="150"
          data-iq-rotate="90"
          data-iq-ease="power.inOut"
          alt="shap-11">
      <img src="{% static 'assets/images/banner/banner-shap-2.png ' %}"  class="background-img background-img-np2 img-fluid"
          data-iq-gsap="onStart"
          data-iq-position-x="150"
          data-iq-rotate="90"
          data-iq-ease="power.inOut"
          alt="banner-shap-2"> -->
      <div class="container">
          <div class="row">
              <div class="col-lg-12 mt-2">
                  <div class="row">
                      <div class="col-xl-5">
                          <div class="product-slider swiper-container">
                              <div
                              style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
                              class="swiper mySwiper2"
                              >
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <img alt="product-15" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  />
                                      </div>
                                      <div class="swiper-slide">
                                          <img alt="product-16" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  />
                                      </div>
                                      <div class="swiper-slide">
                                          <img alt="product-17" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  />
                                      </div>
                                  </div>
                              </div>
                              <div  class="swiper mySwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <img alt="product-19" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  />
                                      </div>
                                      <div class="swiper-slide">
                                          <img alt="product-20" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  />
                                      </div>
                                      <div class="swiper-slide">
                                          <img alt="product-21" src="{% if product.image %} {{ product.image.cdn_url }} {% else %} {% static 'img/default.png' %} {% endif %}"  />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-7">
                          <div class="card content-card">
                              <div class="card-body ">
                         <div class="row align-items-center">
                                <div class="col-sm-12">
                                    <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                      
                                        <ol class="breadcrumb main-bg">
                                            <li class="breadcrumb-item"> 
                                                <a href=""><i class="fas fa-home me-2"></i><strong>Shop </strong>  </a> <i class="fas fa-chevron-right"></i> </li>
                                                <li class=""> 
                                                    <a href="{{ product.category.get_absolute_url }}"> <strong> {{ product.category }}</strong> </a> <i class="fas fa-chevron-right"></i> </li>
                                                    <li class=""> 
                                                        <a href="{{ product.subcategory.get_absolute_url }}"> <strong>{{ product.subcategory }}</strong>  </a> <i class="fas fa-chevron-right"></i> </li>
                                                        <li class=""> 
                                                            <a href="{{ product.minicategory.get_absolute_url }}"> <strong>{{ product.minicategory }} </strong>  </a> <i class="fas fa-chevron-right"></i> </li>
                                                            <li class=""> 
                                                                <a href="{{ product.get_absolute_url }}"> <strong>{{ product.name }} </strong> </a>  </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <h2>{{ product.name }}</h2>
                            <div class="tabs-wrapper">
                                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation" style="margin-right: 15px;">
                                        <a class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" href="javascript:void(0)" role="tab" aria-controls="pills-description" aria-selected="true">Description</a>
                                    </li>
                                    <li class="nav-item" role="presentation" style="margin-right: 15px;">
                                        <a class="nav-link" id="pills-additional-information-tab" data-bs-toggle="pill" data-bs-target="#pills-Delivery" href="javascript:void(0)" role="tab" aria-controls="pills-additional-information" aria-selected="false">Delivery policy</a>
                                    </li>
                               
 
                                    <li class="nav-item" role="presentation" style="margin-right: 15px;">
                                        <a class="nav-link" id="pills-reviews-tab" data-bs-toggle="pill" data-bs-target="#pills-reviews" href="javascript:void(0)" role="tab" aria-controls="pills-reviews" aria-selected="false">Reviews (1)</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content" id="pills-tabContent" >
                                <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                                    <div class="tabs-panel">
                                        <p >{{ product.description|safe|linebreaksbr }}</p>
                                     
                                        <ul class="mb-3 text-primary">
                                            <li>Heart health and stroke prevention</li>
                                            <li>The health of the next generation</li>
                                            <li>Strong bones and teeth</li>
                                            <li>Better mood</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-additional-information" role="tabpanel" aria-labelledby="pills-additional-information-tab">
                                    <div class="tabs-panel">
                                        <table class="shop-attributes">
                                            <tr>
                                                <th>weight</th>
                                                <td><p>1Kg,2Kg,3Kg</p></td>
                                            </tr>
                                            <tr>
                                                <th>It&#039;s Healthy</th>
                                                <td><p>Yes</p></td>
                                            </tr>
                                            <tr>
                                                <th>Dimensions</th>
                                                <td><p>5 x 5 x 10 cm</p></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
                                    <div class="tabs-panel">
                                        <h5>1 review for <span>Broccoli</span></h5>
                                        <div class="iq-main d-flex flex-wrap justify-content-between pb-3">
                                            <div class="d-flex flex-wrap">
                                                <div class="iq-img me-4 mt-3">
                                                    <img alt='img-21' src="{% static 'assets/images/blog/11.png' class='img-fluid rounded-pill avatar avatar-60 photo' height='60' width='60' loading='lazy'/>
                                                </div>
                                                <div class="iq-content mt-3">
                                                    <h5 class="mb-0">ADMIN</h5>
                                                    <p class="mb-0 text-primary">SEPTEMBER 8, 2021</p>
                                                    <p>On behalf of us all – thank you for making our evening such an enjoyable one!<br />Your hard work and consideration were very much appreciated.</p>
                                                </div>
                                            </div>
                                            <div class="iq-stars">
                                                <div class="iq-ratings">
                                                    <ul class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                        <li><i class="fas fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="respond" class="comment-respond mt-3">
                                            <span class="fs-5">Add a review</span>
                                            <form>
                                                <p class="mb-3">Your email address will not be published. Required fields are marked *</p>
                                                <div class="d-flex mb-2">
                                                    <h6>Your rating&nbsp;<span class="required">*</span></h6>
                                                    <div class="iq-ratings ms-4">
                                                        <ul class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                            <li><i class="far fa-star"></i></li>
                                                            <li><i class="far fa-star"></i></li>
                                                            <li><i class="far fa-star"></i></li>
                                                            <li><i class="far fa-star"></i></li>
                                                            <li><i class="far fa-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="mb-3 ">
                                                    <label for="message" class="form-label">Your review *</label>
                                                    <textarea class="form-control mb-3" id="message" rows="3"></textarea>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div>
                                                            <label for="exampleInputPassword1" class="form-label">Name *</label>
                                                            <input type="password" class="form-control" id="exampleInputPassword1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-3">
                                                        <div >
                                                            <label for="floatingInput" class="form-label">Email *</label>
                                                            <input type="email" class="form-control" id="floatingInput">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-4">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Save my name, email, and website in this browser for the next time I comment.</label>
                                                </div>
                                                <p class="form-submit">
                                                    <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                                                    <input type='hidden' name='comment_post_ID' value='583' id='comment_post_ID' />
                                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                

                                      <div class="iq-product-policy">
                                          <span class="fs-5 me-1"><strong>Tags</strong> </span>
                                          <a href="javascript:void(0)" class="iq-product-policy" rel="tag">Salads</a>,
                                          <a href="javascript:void(0)" class="iq-product-policy" rel="tag">Soups</a>
                                      </div>
                                  <div class="mt-4">
                                      <div class="iq-ratings d-flex ">
                                          <ul class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                              <li><i class="fas fa-star"></i></li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="row text-center pb-5" data-iq-gsap="onStart"
                                  data-iq-position-x="150"
                                  data-iq-rotate="0"
                                  data-iq-trigger="scroll"
                                  data-iq-ease="power.inOut">
                                    <div class="col-md-4">
                                        <p class="text-primary fs-4 mt-2">
                                            <strong> KSH {{ product.price }} </strong> 
                                           </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="iq-btn-container">
                                            <form action="{% url "cart:cart_add" product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ cart_product_form }} 
                                                <input type="submit" value=" Add To Card "  class="btn btn-secondary animation-btn"> 
                                           
                                              </form>
                                            </div>
                                    </div>
                                  
                                </div>
                               
                      
                        
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
         
              <div class="col-12 section-padding-120 section-padding-90">
                  <div class="iq-title-box text-center">
                      <span class="iq-subtitle">Related </span>
                      <h2 class="iq-title">products</h2>
                      <div class="iq-title-divider"></div>
                  </div>
                  <div class="related-product overflow-hidden">
                      <ul  class="swiper-wrapper list-inline m-0 p-0">
                          <li class="swiper-slide">
                              <div class="card card-product">
                                  <div class="card-body">
                                      <div class="iq-product-image">
                                          <img src="{% static 'assets/images/product/17.jpg ' %}"  class="hover_image" alt="img">
                                      </div>
                                      <div class="iq-product-content mt-3">
                                          <p class="mb-0"><small>Fruits,Vegetables</small></p>
                                          <a href="new-product.html" class="iq-product-title-link h5">Fruit Frozen</a>
                                          <div class="d-flex align-items-center justify-content-between my-2">
                                              <h6 class="m-0">
                                                  <span class="text-decoration-line-through"></span>
                                                  <span class="text-primary"><b>$5</b></span>
                                              </h6>
                                              <div class="iq-ratings">
                                                  <div class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-3">
                                              <div class="iq-btn-container">
                                                  <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                                                      <div class="btn btn-secondary animation-btn">
                                                          Add To Card
                                                          <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                                                      </div>
                                                  </a>
                                              </div>
                                              <div class="d-flex align-items-center">
                                                  <div class="iq-product-icon">
                                                      <a href="javascript:void(0)" data-alert="sweetalert-heart">
                                                          <i class="far fa-heart"></i>
                                                      </a>
                                                  </div>
                                                  <div class="iq-product-icon ms-2">
                                                      <a href="../cart.html">		
                                                      <i class=" fa fa-eye"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="swiper-slide">
                              <div class="card card-product">
                                  <div class="card-body">
                                      <div class="iq-product-image">
                                          <img src="{% static 'assets/images/product/10.jpg ' %}"  class="hover_image" alt="img">
                                      </div>
                                      <div class="iq-product-content mt-3">
                                          <p class="mb-0"><small>Fruit Yogurt,Fruits</small></p>
                                          <a href="new-product.html" class="iq-product-title-link h5">Grapes</a>
                                          <div class="d-flex align-items-center justify-content-between my-2">
                                              <h6 class="m-0">
                                                  <span class="text-decoration-line-through">$10</span>
                                                  <span class="text-primary"><b>$8</b></span>
                                              </h6>
                                              <div class="iq-ratings">
                                                  <div class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-3">
                                              <div class="iq-btn-container">
                                                  <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                                                      <div class="btn btn-secondary animation-btn">
                                                          Add To Card
                                                          <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                                                      </div>
                                                  </a>
                                              </div>
                                              <div class="d-flex align-items-center">
                                                  <div class="iq-product-icon">
                                                      <a href="javascript:void(0)" data-alert="sweetalert-heart">
                                                          <i class="far fa-heart"></i>
                                                      </a>
                                                  </div>
                                                  <div class="iq-product-icon ms-2">
                                                      <a href="../cart.html">		
                                                      <i class=" fa fa-eye"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="swiper-slide">
                              <div class="card card-product">
                                  <div class="card-body">
                                      <div class="iq-product-image">
                                          <img src="{% static 'assets/images/product/18.jpg ' %}"  class="hover_image" alt="img">
                                      </div>
                                      <div class="iq-product-content mt-3">
                                          <p class="mb-0"><small>Vegetables</small></p>
                                          <a href="new-product.html" class="iq-product-title-link h5">Garlic</a>
                                          <div class="d-flex align-items-center justify-content-between my-2">
                                              <h6 class="m-0">
                                                  <span class="text-decoration-line-through">$5.90</span>
                                                  <span class="text-primary"><b>$30</b></span>
                                              </h6>
                                              <div class="iq-ratings">
                                                  <div class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-3">
                                              <div class="iq-btn-container">
                                                  <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                                                      <div class="btn btn-secondary animation-btn">
                                                          Add To Card
                                                          <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                                                      </div>
                                                  </a>
                                              </div>
                                              <div class="d-flex align-items-center">
                                                  <div class="iq-product-icon">
                                                      <a href="javascript:void(0)" data-alert="sweetalert-heart">
                                                          <i class="far fa-heart"></i>
                                                      </a>
                                                  </div>
                                                  <div class="iq-product-icon ms-2">
                                                      <a href="../cart.html">		
                                                      <i class=" fa fa-eye"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="swiper-slide">
                              <div class="card card-product">
                                  <div class="card-body">
                                      <div class="iq-product-image">
                                          <img src="{% static 'assets/images/product/05.jpg ' %}"  class="hover_image" alt="img">
                                      </div>
                                      <div class="iq-product-content mt-3">
                                          <p class="mb-0"><small>Fruits</small></p>
                                          <a href="new-product.html" class="iq-product-title-link h5">Pistachio</a>
                                          <div class="d-flex align-items-center justify-content-between my-2">
                                              <h6 class="m-0">
                                                  <span class="text-decoration-line-through"></span>
                                                  <span class="text-primary"><b>$135</b></span>
                                              </h6>
                                              <div class="iq-ratings">
                                                  <div class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-3">
                                              <div class="iq-btn-container">
                                                  <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                                                      <div class="btn btn-secondary animation-btn">
                                                          Add To Card
                                                          <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                                                      </div>
                                                  </a>
                                              </div>
                                              <div class="d-flex align-items-center">
                                                  <div class="iq-product-icon">
                                                      <a href="javascript:void(0)" data-alert="sweetalert-heart">
                                                          <i class="far fa-heart"></i>
                                                      </a>
                                                  </div>
                                                  <div class="iq-product-icon ms-2">
                                                      <a href="../cart.html">		
                                                      <i class=" fa fa-eye"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="swiper-slide">
                              <div class="card card-product">
                                  <div class="card-body">
                                      <div class="iq-product-image">
                                          <img src="{% static 'assets/images/product/17.jpg ' %}"  class="hover_image" alt="img">
                                      </div>
                                      <div class="iq-product-content mt-3">
                                          <p class="mb-0"><small>Fruits,Vegetables</small></p>
                                          <a href="new-product.html" class="iq-product-title-link h5">Fruit Frozen</a>
                                          <div class="d-flex align-items-center justify-content-between my-2">
                                              <h6 class="m-0">
                                                  <span class="text-decoration-line-through"></span>
                                                  <span class="text-primary"><b>$5</b></span>
                                              </h6>
                                              <div class="iq-ratings">
                                                  <div class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-3">
                                              <div class="iq-btn-container">
                                                  <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                                                      <div class="btn btn-secondary animation-btn">
                                                          Add To Card
                                                          <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                                                      </div>
                                                  </a>
                                              </div>
                                              <div class="d-flex align-items-center">
                                                  <div class="iq-product-icon">
                                                      <a href="javascript:void(0)" data-alert="sweetalert-heart">
                                                          <i class="far fa-heart"></i>
                                                      </a>
                                                  </div>
                                                  <div class="iq-product-icon ms-2">
                                                      <a href="../cart.html">		
                                                      <i class=" fa fa-eye"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="swiper-slide">
                              <div class="card card-product">
                                  <div class="card-body">
                                      <div class="iq-product-image">
                                          <img src="{% static 'assets/images/product/10.jpg ' %}"  class="hover_image" alt="img">
                                      </div>
                                      <div class="iq-product-content mt-3">
                                          <p class="mb-0"><small>Fruit Yogurt,Fruits</small></p>
                                          <a href="new-product.html" class="iq-product-title-link h5">Grapes</a>
                                          <div class="d-flex align-items-center justify-content-between my-2">
                                              <h6 class="m-0">
                                                  <span class="text-decoration-line-through">$10</span>
                                                  <span class="text-primary"><b>$8</b></span>
                                              </h6>
                                              <div class="iq-ratings">
                                                  <div class="d-flex align-items-center text-secondary list-inline p-0 m-0">
                                                                  <i class="fas fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                                  <i class="far fa-star fa-xs me-1"></i>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="d-flex justify-content-between mb-3">
                                              <div class="iq-btn-container">
                                                  <a class="" href="javascript:void(0)" data-alert="sweetalert-product">
                                                      <div class="btn btn-secondary animation-btn">
                                                          Add To Card
                                                          <i aria-hidden="true" class="fas fa-long-arrow-alt-right ms-2"></i>
                                                      </div>
                                                  </a>
                                              </div>
                                              <div class="d-flex align-items-center">
                                                  <div class="iq-product-icon">
                                                      <a href="javascript:void(0)" data-alert="sweetalert-heart">
                                                          <i class="far fa-heart"></i>
                                                      </a>
                                                  </div>
                                                  <div class="iq-product-icon ms-2">
                                                      <a href="../cart.html">		
                                                      <i class=" fa fa-eye"></i>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  {% include 'shop/foodstore/footer.html' %}
   </main>
    {% endblock %} 