{% extends 'base/landpagebase2.html' %}
{% load static %}
{% block content %}
<br><br><br><br>
<div class="banner section-padding-120 pb-0" id="home-1">
    <!-- <div class="slider-image" id="banner-slider-image" style="transform: translate(2.21px, 3.08px);">
      <div class="slider-2" style="transform: rotate(135deg); opacity: 1;"></div>
      <div class="slider-3" style="transform: rotate(-49.9997deg); opacity: 1;"></div>
      <div class="slider-4" style="transform: rotate(20deg) scale(1, -1); opacity: 1;"></div>
      <div class="slider-5" style="transform: translate(0px, 0px); opacity: 1;"></div>
      <div class="slider-6" style="transform: translate(0px, 0px); opacity: 1;"></div>
      <div class="slider-text" style="transform: translate(0px, 0px); opacity: 1;">
        <div class="scrolling-text vertical-scroll text-center">
          <div>Organic</div>
        </div>
      </div>
    </div> -->
    <section class="about-us  pb-0 position-relative">
           <div class="container">
              <div class="row">
              
                <div class="container">
                    <div class="row">
                      <div class="col-lg-8 col-md-12 col-xs-12">
                        <h4 class="title-2">
                          Love to hear from you
                        </h4>
                        <!-- Form -->
                        <div data-tf-widget="MOCW8RnJ" data-tf-opacity="100" data-tf-iframe-props="title=ffless" data-tf-transitive-search-params data-tf-medium="snippet" style="width:100%;height:500px;"></div><script src="//embed.typeform.com/next/embed.js"></script>
                      </div>
                      <div class="col-lg-4 col-md-12 col-xs-12">
                        <h4 class="title-2">
                          Contact Information
                        </h4>
                        <div class="information">
                          <div class="contact-datails">
                            <div class="icon">
                              <i class="fas fa-map-marker icon-radius"></i>
                            </div>
                            <div class="info">
                              <h4>Address</h4>
                              <span class="detail">Main Office: NO.22-23 Street Name- City,Country</span>
                              <span class="datail">Customer Center: NO.130-45 Streen Name- City, Country</span>
                            </div>
                          </div>                
                          <div class="contact-datails">
                            <div class="icon">
                              <i class="fas fa-phone icon-radius"></i>
                            </div>
                            <div class="info">
                              <h4>Phone Numbers</h4>
                              <span class="detail">Main Office: +880 123 456 789</span>
                              <span class="datail">Customer Supprort: +880 123 456 789 </span>
                            </div>
                          </div>
                          <div class="contact-datails">
                            <div class="icon">
                              <i class="fas fa-location-arrow icon-radius"></i>
                            </div>
                            <div class="info">
                              <h4>Email Address</h4>
                              <span class="detail">Customer 
                              Support: info&copy;mail.com</span>
                              <span class="detail">Technical Support: support&copy;mail.com</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
           </div>
     </section>
   
  </div>

  <!-- Start Contact Us Section -->
  <section id="content">
    
    </section>
    <!-- End Contact Us Section  -->    
    
    <!-- Map Section Start -->
    <section id="google-map-area">
     
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                      <h2 class="title-2">Where we work</h2>
                    </div>
                  </div>
                  <br>
            <object style="border:0; height: 400px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.8082867083012!2d36.7810023!3d-1.289253!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f109996536c39%3A0x4eb6d6e1e16b4153!2sIhub!5e0!3m2!1sen!2ske!4v1592793757991!5m2!1sen!2ske" ></object>
          </div>
        </div>
      </div>
    </section>
    <!-- Map Section End -->
          

    {% include "base/js.html"  %}
  <div id="ajax_response_login"></div>
  <div id="ajax_response_register"></div>
  <div id="ajax_logout"></div>

</body>
{% endblock content %}